.about{
    position: relative;
}
.about .code{
    margin-top: 20px;
    height: 500px;
    width: 100%;
}

.about h1{
    width: 50%;
    margin: auto;
    position: absolute;
    left: 10%;
    bottom: 25%;
    color: white;
}
.about .us{
    width: 80%;
    margin: auto;
}
.about .us h2{
    font-weight: 500;
}
.about .us p{
    font-size: 16px;
    width: 50%;
}


@media (max-width: 768px){
    .about .code{
        height: 100%;
    }
    .about h1{
        bottom: 40%;
    }
    .about .us p{
        font-size: 14px;
        width: 100%;
        padding-bottom: 1rem;
    }
}
