.home{
    background: url('./../../img/devv.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    opacity: 0.8;
}
.home .container{
    width: 50%;
    position: absolute;
    right: 4%;
    top: 40%;
    text-align: center;
    color: white;
}
.home .container .hello{
    font-weight: 500;
    line-height: 40px;
}
.home .container h1{
    margin: 0;
}
.home .container p{
    margin-top: 2rem;
    letter-spacing: 1.5px;
}



@media (max-width:768px){
    .home .container{
        top: 20%;
        width: 100%;
        position: relative;
    }
    .home .container .hello{
        font-size: 28px;
        line-height: normal;
    }
    .home .container p{
        width: 80%;
        margin: 2rem auto;
        font-size: 14px;
        text-align: center;
    }
}